<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="067cab84-63db-4e98-a97e-7796d4b74f51"
            Publisher="CN=hp"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>FestivalAppStore</DisplayName>
    <PublisherDisplayName>hp</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="FestivalAppStore.App">
        <VisualElements
            DisplayName="FestivalAppStore"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="FestivalAppStore"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>